<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.squirrel.mapper.CountMapper">


    <select id="countUserByType" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT user_id)
        FROM member_points_history
        <where>
            <if test="type == 1">
                create_date >= CURDATE() AND create_date &lt; CURDATE() + INTERVAL 1 DAY
            </if>
            <if test="type == 2">
                create_date >= CURDATE() - INTERVAL WEEKDAY(CURDATE()) DAY
                AND create_date &lt; CURDATE() - INTERVAL WEEKDAY(CURDATE()) DAY + INTERVAL 7 DAY
            </if>
        </where>

    </select>
    <select id="sumMoneyByType" resultType="java.math.BigDecimal">
        SELECT sum(amount)
        FROM member_points_history
        <where>
            <if test="type == 1">
                create_date >= CURDATE() AND create_date &lt; CURDATE() + INTERVAL 1 DAY  and change_type =2
            </if>
            <if test="type == 2">
                create_date >= CURDATE() - INTERVAL 6 DAY
                AND create_date &lt; CURDATE() + INTERVAL 1 DAY
                AND change_type = 2
            </if>
        </where>
    </select>
    <select id="countWeeklyMoney" resultType="org.squirrel.dto.WeeklyMoneyDto">
        SELECT DATE (create_date) as date, SUM(amount) as daily_income
        FROM member_points_history
        WHERE create_date >= CURDATE() - INTERVAL 6 DAY
        AND create_date &lt; CURDATE() + INTERVAL 1 DAY
        AND change_type = 2
        GROUP BY DATE(create_date)
        ORDER BY date;
    </select>
    <select id="countPointByType" resultType="java.lang.Integer">
        SELECT sum(redeemed_points)
        FROM member_points_history
        <where>
            <if test="type == 1">
                create_date >= CURDATE() AND create_date &lt; CURDATE() + INTERVAL 1 DAY  and change_type =3
            </if>
            <if test="type == 2">
                create_date >= CURDATE() - INTERVAL WEEKDAY(CURDATE()) DAY
                AND create_date &lt; CURDATE() - INTERVAL WEEKDAY(CURDATE()) DAY + INTERVAL 7 DAY and change_type =3
            </if>
        </where>
    </select>
    <select id="getUserRank" resultType="org.squirrel.dto.UserRankDto">
        SELECT u.user_name,
               u.phone,
               u.address,
               SUM(mph.amount) AS money
        FROM member_points_history mph LEFT JOIN user_info u ON mph.user_id = u.user_id
        WHERE mph.change_type = 2
        GROUP BY u.user_name, u.phone,u.address
        ORDER BY money DESC LIMIT 10
    </select>
</mapper>