<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.squirrel.mapper.PrizePointsConfigMapper">

    <select id="selectBatchPrizeIds" resultType="org.squirrel.po.PrizePointsConfig">
        select * from prize_points_config where prize_id in
        <foreach collection="prizeIdList" item="item" index="index" open="(" close=")"
                 separator=",">
            #{item}
        </foreach>
    </select>
</mapper>